body {
  padding: 0;
  margin: 0;
  font-family: "Lato", helvetica, sans-serif;
  text-align: center;
}

#clear-canvas {
  float: right;
  padding: 10px;
  border: none;
  margin: 10px 10px;
  background: #446faf;
  color: #fff;
  box-shadow: 1px 1px 1px #444;
  letter-spacing: 1px;
  cursor: pointer;
}

#toolbar {
  float: left;
  list-style-type: none;
  /* height: 100vh; */
}

#toolbar li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 20px;
}

#brush-size {
  padding: 5px;
  background: #fff;
  border: 2px solid #446faf;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

canvas {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px #bbb;
  cursor: url(http://cur.cursors-4u.net/user/use-1/use151.cur), default;
}

#red {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #851934;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#green {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #1f8a70;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#yellow {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #ffe11a;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#blue {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  background: #165873;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#color-picker {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px #bbb;
  cursor: pointer;
}

#painter-heading {
  letter-spacing: 8px;
  color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  display: inline-block;
}

#letter-i-painter {
  color: #556aac;
}

#red-dot-painter {
  width: 10px;
  height: 10px;
  position: relative;
  top: -30px;
  left: -133px;
  background: rgb(184, 10, 45);
  display: inline-block;
  border-radius: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;  
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 1px 1px 2px #bbb; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #556AAC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #556AAC;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#eraser {
  width: 26px;
  height: 26px;
  cursor: pointer;
  vertical-align: middle; 
}